:root {
  --main-color: #3d5afe;
  --light-color: #82b1ff;
  --dark-color: #0031ca;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #8e8e8e;
  --text-color: #171518;
  --background-color: #ffffff;
  --secondary-background-color: #eeeeee;
  --alert-color: #ff4444;
  --warning-color: #ffbb33;
  --success-color: #00C851;
}

html {
  background-color: var(--background-color);
  height: auto;
  overflow-x: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

.App {
  padding-bottom: 15vh;
  position: relative;
}

hr {
  display: block; height: 0px;
  border: 0;
  border-top: 2px solid var(--secondary-background-color);
  margin: 0;
  padding: 0;
}

/* NAV */

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 42px;
  z-index: 1;
  background-color: var(--background-color);
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2), -2px 3px 10px rgba(0, 0, 0, .2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: var(--text-color) !important;
  display: block;
  padding: 14px 2.5vw;
  border-bottom: none;
}

.dropdown-content a:last-child {
  border-radius: inherit;
}

.dropdown-content a:hover {
  border-bottom: none;
  background-color: var(--secondary-background-color);
}

nav {
  width: 100%;
  text-align: left;
  background-color: var(--main-color);
}

nav ul {
  height: 65px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  padding: 18px 0;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

nav ul li {
  display: inline;
  text-decoration: none;
  padding: 0;
  position: relative;
}

nav ul li a, nav ul li a:visited, nav ul li span#nav-drop-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 18px 2.5vw;
}

nav ul li a, nav ul li a:visited {
  border-bottom: 4px solid var(--main-color);
}

a#noti-anchor {
  padding: 18px 1vw;
}

nav ul li span#nav-drop-link {
  padding: 16px 2.5vw 22px 2.5vw;
}

nav ul li a:hover {
  border-bottom: 4px solid var(--secondary-text-color);
}

nav ul li input.search {
  font-size: 16.5px;
  border-radius: 0 8px 8px 0;
  outline: none;
  border: none;
  padding: 5px 100px 5px 10px;
}

span#nav-search-icon-wrapper {
  padding: 5px 0 5px 10px;
  border-radius: 8px 0 0 8px;
  background-color: var(--secondary-text-color);
}

#noti-bell {
  position: relative;
  font-size: 24px;
  vertical-align: bottom;
}

#noti-bell #alert {
  background-color: var(--alert-color);
  height: 8px;
  width: 8px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  position: absolute;
  right: -6px;
  bottom: 2px;
}

.active-nav .act-icon {
  display: inline;
}

.active-nav .def-icon, .act-icon, .active-nav #alert {
  display: none;
}

@media only screen and (max-width: 1080px) {
  nav ul li#search-nav {
    display: none;
  }
}

/* FOOTER */

footer {
  width: 100vw;
  text-align: left;
  background-color: var(--main-color);
  position: absolute;
  min-height: 9vh;
  padding: 3vh 0;
}

footer a {
  display: block;
  margin: 5px 0;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

footer h5 {
  margin: 0;
  font-size: 16px;
  color: var(--light-color);
}

footer p {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  margin-top: 0;
}

footer span.lastlines {
  color: var(--light-color)
}

/* SEARCH BAR */
#search-bar-wrapper input.search {
  font-size: 22px;
  border-radius: 0 12px 12px 0;
  outline: none;
  border: none;
  width: 90%;
  padding: 10px 10px 10px 10px;
  color: var(--tertiary-text-color);
}

span#search-icon-wrapper {
  font-size: 21.5px;
  padding: 10px 10px 10px 20px;
  border-radius: 12px 0px 0px 12px;
  background-color: var(--secondary-text-color);
}

/* LANDING */
#hero {
  padding: 10vh 0;
  min-height: 40vh;
  background-color: var(--dark-color);
}

#hero h1 {
  text-align: left;
  color: var(--secondary-text-color);
  font-size: 56px;
}

#hero-inner {
  max-width: 760px;
  text-align: left;
  margin: 0 auto;
}

#below {
  padding: 7vh 0;
}

/* PAGES */
.hero {
  padding: 6vh 0 6vh 0;
  background-color: var(--dark-color);
}

.hero h1 {
  text-align: left;
  color: var(--secondary-text-color);
  font-size: 56px;
  margin-bottom: 2vh;
}

.hero-inner {
  max-width: 760px;
  text-align: left;
  margin: 0 auto;
}

.hero-inner .sub-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
}

.hero-inner a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.hero-inner a:hover {
  text-decoration: underline;
}

/* LISTINGS */

.listing, .education.profile-block {
  position: relative;
  display: block;
  height: auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 12px;
  width: 100%;
  margin-bottom: 20px;
}

.listing .image-wrapper {
  float: left;
  width: 25%;
}

.listing .image-wrapper img {
  width: 100%;
  border-radius: 8px;
}

.listing .inf {
  float: right;
  width: 73%;
}

.listing .inf p {
  font-size: 18px;
  margin: 10px 0;
}

.listing .inf h2 {
  margin: 0;
}

.title-ext-wrapper {
  color: var(--tertiary-text-color);
}

.listing p.sub-title {
  color: var(--tertiary-text-color);
  font-size: 16px;
}

a.similar-pos {
  text-decoration: none;
  opacity: 0.5;
  font-size: 18px;
  color: var(--tertiary-text-color);
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

a.similar-pos:hover {
  opacity: 1;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -49.5%;
  width: 99%;
  height: 98%;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2), -2px 3px 10px rgba(0, 0, 0, .2);
  background-color: red;
  z-index: -1;
}

button.button-secondary.bookmarked {
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  color: var(--secondary-text-color);
  background-color: var(--success-color);
  text-decoration: none;
  font-weight: 700;
  border: solid 3px var(--success-color);
  margin-right: 12px;
  cursor: pointer;
}

button.button-secondary.bookmark {
  background-color: var(--background-color);
  color: var(--tertiary-text-color);
  border: solid 3px var(--tertiary-text-color);
  cursor: pointer;
}

button.button-secondary.bookmark:hover {
  color: var(--success-color);
  border: solid 3px var(--success-color);
}

.listing a {
  text-decoration: none;
  color: var(--text-color);
}

a.read-more {
  color: var(--light-color);
  text-decoration: underline;
}

/* Filter/Sort */

.filter-label {
  color: var(--tertiary-text-color);
  padding: 10px 0;
}

.filter-dropdown {
  margin: 10px 0;
}
.order-wrapper {
  width: 30%;
  display: inline-block;
  float: right;
}

.result-header-wrapper {
  clear: both;
  padding: 0;
  margin: 0;
}

.result-header-wrapper h2 {
  display: inline-block;
}

.input[type="checkbox"] {
  background-color: red;
}

/* Login */

.login-portal {
  padding: 50px 0;
}

.login-portal label.text-input-label {
  display: block;
  margin: 20px 0 10px 0;
}

.login-portal input.input-text {
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: solid 3px rgb(204, 204, 204);
  width: 100%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-portal input.input-text:focus {
  border: solid 3px var(--main-color);
}

.login-portal button {
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: solid 3px var(--main-color);
  color: var(--main-color);
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 20px 0;
  background-color: var(--background-color);
}

.login-portal button:hover {
  background-color: var(--main-color);
  border: solid 3px var(--main-color);
  color: white;
}

#remember-me-wrapper {
  margin: 15px 0 0 0;
}

#remember-me-wrapper input, #remember-me-wrapper label {
  cursor: pointer;
}

#remember-me-wrapper * {
  -webkit-user-select: none; /* Safari 3.1+ */
-moz-user-select: none; /* Firefox 2+ */
-ms-user-select: none; /* IE 10+ */
user-select: none; /* Standard syntax */
}

p#signup-cta {
  font-weight: 700;
  font-size: 18px;
  color: var(--tertiary-text-color);
}

p#signup-cta a {
  color: var(--main-color);
}

input#show-pass, input#show-signup-pass {
  display: none;
}

#show-icon, #show-signup-icon {
  margin: 0 3px 0 7px;
  display: auto;
}

#hide-icon, #hide-signup-icon {
  margin: 0 3px 0 5.3px;
  display: none;
}

input#show-pass:checked ~ label#show-label #show-icon, input#show-signup-pass:checked ~ label#show-signup-label #show-signup-icon {
  display: none;
}

input#show-pass:checked ~ label#show-label #hide-icon, input#show-signup-pass:checked ~ label#show-signup-label #hide-signup-icon {
  display: inline;
}

/* User Settings */

form label {
  display: block;
  margin: 20px 0 10px 0;
}

form input, form textarea {
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: solid 3px rgb(204, 204, 204);
  width: 100%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

form textarea {
  resize: vertical;
  font-family: sans-serif;
}

form input:focus, form textarea:focus {
  border: solid 3px var(--main-color);
}

form button {
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: solid 3px var(--main-color);
  color: var(--main-color);
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 15px 0;
  background-color: var(--background-color);
}

form button:hover {
  background-color: var(--main-color);
  border: solid 3px var(--main-color);
  color: white;
}

.setting-row {
  padding-bottom: 10px;
}

/* UI */

.button-wrapper {
  margin-top: 30px;
}

a.button, button.button {
  font-size: inherit;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  background-color: var(--main-color);
  border: solid 3px var(--main-color);
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 700;
  margin-right: 12px;
  outline: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

a.button-secondary, button.button-secondary {
  font-size: inherit;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 700;
  border: solid 3px var(--main-color);
  margin-right: 12px;
  outline: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* Profile */

#user-profile #user-profile-image {
  border-radius: 50%;
  width: 100%;
}

#user-profile a {
  color: var(--light-color);
  text-decoration: underline;
}

#user-profile #stats {
  color: var(--tertiary-text-color);
}

/* Responsive */

.hero#search-hero {
  padding-bottom: 12vh;
}

ul.mobile-nav {
  display: none;
}

.show-on-mobile {
  display: none;
}

@media only screen and (max-width: 992px) {
  .hero-inner h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
  }
  .hero {
    padding: 20px;
  }
  .hero-inner .sub-title, .sub-title a {
    text-align: center;
    margin: 0 auto;
  }

  ul.mobile-nav {
    display: block;
    clear: both;
  }

  nav ul#nav-links {
    position: absolute;
    min-height: calc(100vh - 65px);
    width: 100vw;
    background-color: white;
    right: -100vw;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  nav ul#nav-links li, nav ul#nav-links li a {
    display: block;
    color: var(--main-color);
    border: none;
    text-align: left;
    padding-left: 15px;
  }

  nav ul.toggle-mobile-nav {
    right: 0 !important;
  }

  .show-on-mobile {
    display: auto;
  }

  #nav-drop-links, nav ul li#search-nav, nav ul#nav-links li.dropdown {
    display: none;
  }

  .App {
    overflow: hidden;
  }

  ul.mobile-nav input {
    display: none;
  }

  ul.mobile-nav label {
    float: right;
    margin-right: 10px;
  }

  ul.mobile-nav #logo-nav-mobile {

  }

  #search-icon-wrapper {
    display: none;
  }

  #search-bar-wrapper {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  #search-bar-wrapper input.search {
    width: 100%;
    border-radius: 12px;
    box-sizing: border-box;
  }

  .hero#search-hero {
    padding-bottom: 6vh;
  }

  div.hero-inner {
    text-align: center;
  }

  /* LISTINGS */

  .listing h2 {
    font-size: 20px;
  }

  .listing .inf p.sub-title {
    font-size: 16px;
  }

  .listing .inf p {
    font-size: 16px;
  }

  .listing a.button, .listing button, .listing .button-wrapper a {
    font-size: 14px;
  }

}

@media only screen and (min-width: 992px) {
  .divider {
    border-left: solid 2px var(--secondary-background-color);
    top: 10%;
    position: absolute;
    height: 80%;
  }
}
